* {
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 700px;
  margin: 20px auto;
}
